<div class="row statistic" ng-if="founds.length > 0">
  <h3>List of Items</h3>
  <div class="col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <ul ng-repeat="item in founds">
        <li>
          <div class="panel panel-default" style="width:800px">
            <div class="panel-heading" role="tab" id="heading_{{$index}}">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{$index}}" aria-expanded="true" aria-controls="collapse_{{$index}}">
                  {{item.name}}
                </a>
                <button class="btn btn-primary" ng-click="onRemove({index: $index})">
                  Don't want this one!
                </button>
              </h4>
            </div>
            <div id="collapse_{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{$index}}">
              <div class="panel-body description">
                <ul>
                  <li><b>Short Name:</b> {{item.short_name}}</li>
                  <li><b>Description:</b> {{item.description}}</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
